.mainAbout{
    background-image: url("./images/seccion2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    height: 650px;
}

.mainDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainH{
    font-size: 23px;
    font-weight: bold;
    line-height: 35px;
    height: 33.5px;
}

.mainP{
    margin-top: 2.5px;
    height: 190px;
    font-size: 14.2px;
    line-height: 20px;
    width: 300px;
}

.middleDiv{
    margin: 10.5px 0 27.5px 0;
    display: flex;
    color: #2f2f4f;
}

.btnPod{
    background-color: #4effd2;
    width: 210px;
    height: 60px;
    font-weight: bold;
    font-size: 14.2px;
}

.svgFig{
    margin-left: 9px;
    border: 2px solid #4effd2;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPod:hover, .svgFig:hover{
    cursor: pointer;
}

.endDiv{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.imgNFA{
    max-width: 100px;
}

.imgCFTC{
    max-width: 75px;
}

.endP{
    font-size: 10px;
    line-height: 25px;
}

@media screen and (min-width: 480px) {
    .mainAbout{
        height: 700px;
    }
    
    .mainH{
        font-size: 31px;
        line-height: 50px;
        height: 50px;
    }
    
    .mainP{
        margin-top: 5px;
        height: 215px;
        font-size: 18px;
        line-height: 25px;
        width: 427px;
    }
    
    .middleDiv{
        margin: 16px 0 41.5px 0;
    }
    
    .btnPod{
        width: 290px;
        height: 70px;
        font-size: 18px;
    }
    
    .svgFig{
        margin-left: 15px;
        width: 68px;
    }
    
    .endDiv{
        width: 400px;
    }

    .imgNFA{
        max-width: 100%;
    }
    
    .imgCFTC{
        max-width: 100%;
    }
    
    .endP{
        font-size: 13px;
    }
}

@media screen and (min-width: 767px) {
    .mainAbout{
        height: 783px;
    }
    
    .mainH{
        font-size: 38px;
        line-height: 55px;
        height: 67px;
    }
    
    .mainP{
        height: 236px;
        font-size: 20px;
        width: 476px;
    }
    
    .middleDiv{
        margin: 21px 0 55px 0;
    }
    
    .btnPod{
        width: 328px;
        height: 87px;
        font-size: 20px;
    }
    
    .svgFig{
        margin-left: 18px;
    }
}

@media screen and (min-width: 850px) {
    .mainDiv{
        width: 65%;
    }
}