.mainAbout{
    background-image: url("./images/seccion2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 150px;
    padding-top: 163px;
    padding-bottom: 47px;
}

.mainH{
    font-size: 38px;
    font-weight: bold;
    line-height: 55px;
    height: 67px;
}

.mainP{
    margin-top: 5px;
    height: 236px;
    font-size: 20px;
    line-height: 25px;
    width: 476px;
}

.middleDiv{
    margin: 21px 0 55px 0;
    display: flex;
    color: black;
}

.btnPod{
    background-color: #4effd2;
    width: 328px;
    height: 87px;
    font-weight: bold;
    font-size: 20px;
}

.svgFig{
    margin-left: 18px;
    border: 2px solid #4effd2;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endDiv{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.endP{
    font-size: 13px;
    line-height: 25px;
}