@font-face {
  font-family: "GalanoGrotesqueAlt";
  src: url("./font/GalanoGrotesqueAltMedium.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueAlt";
  font-weight: bold;
  src: url("./font/GalanoGrotesqueAltBold.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueAlt";
  font-weight: 300;
  font-style: italic;
  src: url("./font/GalanoGrotesqueLightItalic.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueAlt";
  font-style: italic;
  src: url("./font/GalanoGrotesqueMediumItalic.otf") format("opentype");
}

body{
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "GalanoGrotesqueAlt";
}

p{
  margin: 0;
}

.{
  height: 100%;
}

.typed-cursor{
  display: none;
}

body:hover{
  cursor: default;
}

input:focus{
  outline-offset: none;
}