@font-face {
  font-family: "GalanoGrotesqueAlt";
  src: url("./font/GalanoGrotesqueAltMedium.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueAlt";
  font-weight: bold;
  src: url("./font/GalanoGrotesqueAltBold.otf") format("opentype");
}

body{
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "GalanoGrotesqueAlt";
}

p{
  margin: 0;
}

.{
  height: 100%;
}

.typed-cursor{
  display: none;
}