@font-face {
  font-family: "GalanoGrotesqueAlt";
  src: url("./font/GalanoGrotesqueAltMedium.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueAlt";
  font-weight: bold;
  src: url("./font/GalanoGrotesqueAltBold.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueAlt";
  font-weight: 300;
  font-style: italic;
  src: url("./font/GalanoGrotesqueLightItalic.otf") format("opentype");
}

@font-face {
  font-family: "GalanoGrotesqueAlt";
  font-style: italic;
  src: url("./font/GalanoGrotesqueMediumItalic.otf") format("opentype");
}

body{
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "GalanoGrotesqueAlt";
}

p{
  margin: 0;
}

.typed-cursor{
  display: none;
}

body:hover{
  cursor: default;
}

input:focus{
  outline-offset: none;
}

form{
  height: 100%;
  width: 100%;
}

#mce-EMAIL{
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: white;
}

#mc-embedded-subscribe{
  background: #4EFFD2;
  border: none;
  height: 100%;
  width: 100%;
  font-weight: bolder;
}

#mc-embedded-subscribe:hover{
  cursor: pointer;
}