.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,25,0.8)), url("./images/foto-principal-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.iniDiv{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iniImg{
    text-align: center;
    width: 131.84px;
    height: 66.15px;
    margin-bottom: 15.85px;
    background-color: blueviolet;
}

.iniP{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}

.DivP{
    width: 552px;
    height: 190px
}

.mainP{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    line-height: 55px;
}

.middleP{
    text-align: center;
    font-size: 20px;
    width: 400px;
    line-height: 25px;
}

.middleDiv{
    margin: 7px 0 33px 0;
}

.endDiv{
    height: 87px;
    width: 668px;
    border: 2px solid black;
}

.form{
    display: flex;
    color: black;
    height: 100%;
}

.email{
    outline: none;
    border: none;
    flex: 2;
    height: 100%;
    padding: 10px;
    background-color: white;
    font-size: 20px;
}

.btnemail{
    background: #4EFFD2;
    border: none;
    flex: 1;
    height: 100%;
    font-weight: bolder;
    font-size: 20px;
}

.btnemail:hover{
    cursor: pointer;
}