.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.iniDiv{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iniImg{
    text-align: center;
    width: 131.84px;
    height: 66.15px;
    margin-bottom: 15.85px;
}

.iniP{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}

.DivP{
    width: 552px;
    height: 190px
}

.mainP{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    line-height: 55px;
}

.middleP{
    text-align: center;
    font-size: 20px;
    width: 400px;
    line-height: 25px;
}

.middleDiv{
    margin: 7px 0 33px 0;
}

.endDiv{
    /* margin: 24px 0; */
    height: 87px;
    width: 668px;
    background-color: peru;
    border: 2px solid black;
}

.email{
    outline: none;
    background: transparent;
    border: none;
    color: white;
}

.btnemail{
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 27%;
}

.btnemail:hover{
    cursor: pointer;
    background-color: #014a97;
}

.form{
    position: relative;
    border-bottom: 0.5px solid;
}

.txtemail{
    position: absolute;
    line-height: 35px;
    top: 0;
    left: 0;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.email:focus + .txtemail{
    top: -20px;
    font-size: 12px;
}