.mainStory{
    color: #2f2f4f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainH{
    font-size: 38px;
    font-weight: bold;
    line-height: 55px;
    height: 67;
    margin: 105px 0 72px 0px;
}

.mainDiv{
    display: flex;
}

.div1{
    background-color: #ff4848;
    height: 10px;
    width: 124px;
}

.div2{
    background-color: #ff4848;
    height: 10px;
    width: 124px;
    opacity: 25%;
    margin-left: 15px;
}

.middleDiv{
    margin: 79px 0 19px 0;
    width: 750px;
    height: 289px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.endName{
    font-size: 25px;
    font-weight: bold;
    line-height: 55px;
}

.endDiv{
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 126px;
}