.mainStory{
    color: #2f2f4f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainH{
    font-size: 23px;
    font-weight: bold;
    line-height: 40px;
    height: 33.5px;
    margin: 52.5px 0 36px 0px;
}

.mainDiv{
    display: flex;
}

.div1{
    background-color: #ff4848;
    height: 6px;
    width: 62px;
    animation: color1 39s infinite;
}

@keyframes color1 {
    0%{
        opacity: 100%;
    }
    25.6%{
        opacity: 100%;
    }
    33.3%{
        opacity: 25%;
    }
    92.2%{
        opacity: 25%;
    }
    100%{
        opacity: 100%;
    }
}

.div2{
    background-color: #ff4848;
    height: 6px;
    width: 62px;
    opacity: 25%;
    margin-left: 7.5px;
    animation: color2 39s infinite;
}

@keyframes color2 {
    0%{
        opacity: 25%;
    }
    25.6%{
        opacity: 25%;
    }
    33.3%{
        opacity: 100%;
    }
    58.9%{
        opacity: 100%;
    }
    66.6%{
        opacity: 25%;
    }
    100%{
        opacity: 25%;
    }
}

.div3{
    background-color: #ff4848;
    height: 6px;
    width: 62px;
    opacity: 25%;
    margin-left: 7.5px;
    animation: color3 39s infinite;
}

@keyframes color3 {
    0%{
        opacity: 25%;
    }
    58.9%{
        opacity: 25%;
    }
    66.6%{
        opacity: 100%;
    }
    92.2%{
        opacity: 100%;
    }
    100%{
        opacity: 25%;
    }
}

.divShift{
    display: flex;
    width: 310px;
    overflow: hidden;
}

.divChild:first-child{
    animation: shift 39s infinite;
}

@keyframes shift {
    0%{
        margin-left: 0;
    }
    25.6%{
        margin-left: 0;
    }
    33.3%{
        margin-left: -310px;
    }
    58.9%{
        margin-left: -310px;
    }
    66.6%{
        margin-left: -620px;
    }
    92.2%{
        margin-left: -620px;
    }
    100%{
        margin-left: 0;
    }
}

.middleDiv{
    margin: 39.5px 0 9.5px 0;
    width: 310px;
    height: 425px;
    text-align: center;
    font-size: 14.2px;
    font-style: italic;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.endName{
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.endDiv{
    font-size: 14.2px;
    font-weight: 300;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 63px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .mainH{
        font-size: 31px;
        line-height: 50px;
        height: 40px;
        margin: 80px 0 54px 0px;
    }

    .divShift{
        width: 470px;
    }
    
    .div1{
        height: 7px;
        width: 93px;
    }
    
    .div2{
        height: 7px;
        width: 93px;
        margin-left: 12px;
    }

    .div3{
        height: 7px;
        width: 93px;
        margin-left: 12px;
    }

    @keyframes shift {
        0%{
            margin-left: 0;
        }
        25.6%{
            margin-left: 0;
        }
        33.3%{
            margin-left: -470px;
        }
        58.9%{
            margin-left: -470px;
        }
        66.6%{
            margin-left: -940px;
        }
        92.2%{
            margin-left: -940px;
        }
        100%{
            margin-left: 0;
        }
    }
    
    .middleDiv{
        margin: 59px 0 14px 0;
        width: 470px;
        height: 425px;
        font-size: 18px;
        line-height: 25px;
    }
    
    .endName{
        font-size: 21px;
        line-height: 50px;
    }
    
    .endDiv{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 94.5px;
    }
}

@media screen and (min-width: 767px) {
    .mainH{
        font-size: 38px;
        line-height: 55px;
        height: 67px;
        margin: 105px 0 72px 0px;
    }

    .divShift{
        width: 750px;
    }
    
    .div1{
        height: 10px;
        width: 124px;
    }
    
    .div2{
        height: 10px;
        width: 124px;
        margin-left: 15px;
    }

    .div3{
        height: 10px;
        width: 124px;
        margin-left: 15px;
    }

    @keyframes shift {
        0%{
            margin-left: 0;
        }
        25.6%{
            margin-left: 0;
        }
        33.3%{
            margin-left: -750px;
        }
        58.9%{
            margin-left: -750px;
        }
        66.6%{
            margin-left: -1500px;
        }
        92.2%{
            margin-left: -1500px;
        }
        100%{
            margin-left: 0;
        }
    }
    
    .middleDiv{
        margin: 79px 0 19px 0;
        width: 750px;
        height: 326px;
        font-size: 20px;
    }
    
    .endName{
        font-size: 25px;
        line-height: 55px;
    }
    
    .endDiv{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 126px;
    }
}